.container{
    max-width: 450px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
    border-radius: 10px;
    background-image: url('https://images.pexels.com/photos/6496462/pexels-photo-6496462.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
      transition-property: width height ;

}
.container:hover{
    width: min-content;
    height:auto;
}    
h1{
    text-align: center;
    color:black; 
    text-decoration: underline;
    text-shadow: 2px 2px;

}
#display {
    text-align: right;
    height: 50px;
    
    line-height: 50px;
    padding: 16px 8px;
    font-size: 25px;

}
body{

    background-image: url("https://images.pexels.com/photos/311268/pexels-photo-311268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
  
.keys{
    display: grid;
    padding: none;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid #999;
    line-height: 60px;
    width: 60px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border:none;
    border-radius: 50%;

}

#equal {
    background-color: rgb(85, 85, 255);
    color: white;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}
}
